/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* Header styles */
header {
    background-color: #F4BF0D;
    color: black;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

/*Cadrane pentru fiecare sectiune*/

#cv {
    border: 10px outset #F7D156;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    background-color: #F4BF0D;
}

#cv:hover {
    background-color: #F7D156;
    border: 10px ridge #F7D156;
}

#projects {
    border: 10px outset #F7D156;
    padding: 20px;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    background-color: #F4BF0D
}

#projects:hover {
    background-color: #F7D156;
    border: 10px ridge #F7D156;
}



footer {
    background-color: #C2970A;
    padding: 40px;
}

#uc1 {
    background-color: red;
    color: white;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}

#uc2 {
    background-color: red;
    color: white;
    margin-bottom: 15px;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
}